autostart
Bitwarden
Code
dconf
dell-recovery
dvc/
enchant
eog
evolution
fontconfig
font-manager
gedit
GIMP
gnome-initial-setup-done
gnome-session
goa-1.0
google-chrome
gpick
gtk-2.0
gtk-3.0
gtk-4.0
htop
ibus
inkscape
iterative
libreoffice
matplitlib
menus
mimeapps.list
MongoDB Compass/
nautilus
obs-studio
pavuControl.ini
pharo
pulse
teams-for-linux
totem
update-notifier
user-dirs.dirs
user-dirs.locale
vlc
xournalpp
.gsd-keyboard.settings-ported
pavucontrol.ini
